<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505034356352-3pfon700gd8klnb3di9rbr7300k2h5gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505034356352-3pfon700gd8klnb3di9rbr7300k2h5gc</string>
	<key>API_KEY</key>
	<string>AIzaSyDKx_KeeT3LbJBQwAT1Tnc71uNI0myIlZM</string>
	<key>GCM_SENDER_ID</key>
	<string>505034356352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetalibunsuz.Waddly</string>
	<key>PROJECT_ID</key>
	<string>waddly-23983</string>
	<key>STORAGE_BUCKET</key>
	<string>waddly-23983.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505034356352:ios:160c8a2473a7ab16501865</string>
</dict>
</plist>